:root {
    
--main-bg-color: #99960;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Abyssinica SIL', serif;
}
h1{
    color: rgb(14, 53, 40);
}